<nav class="navbar navbar-dark p-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><strong>ShoppingZone</strong></a>
    <form class="form-inline">
      <div class="search-bar pl-2">
        <i class="material-icons d-none d-md-inline-block">search</i>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" #searchbox
          (input)="findProduct(searchbox.value)">
      </div>
    </form>
    <a class="button cart-button" routerLink="/cart"><i class="material-icons">shopping_cart</i>Checkout
      <span *ngIf="cartItemsCount">({{cartItemsCount}})</span>
    </a>
  </div>
</nav>